Assignment_5_Final/Assignment_5_Final/Assignment_5_Final/Assignment_5_Final/Connected Services/MarcusReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page4/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page4/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page4/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getCloseStores_InputMessage">
    <wsdl:part name="parameters" element="tns:getCloseStores" />
  </wsdl:message>
  <wsdl:message name="IService_getCloseStores_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCloseStoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getCoordinates_InputMessage">
    <wsdl:part name="parameters" element="tns:getCoordinates" />
  </wsdl:message>
  <wsdl:message name="IService_getCoordinates_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCoordinatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:getBalance" />
  </wsdl:message>
  <wsdl:message name="IService_getBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_deposite_InputMessage">
    <wsdl:part name="parameters" element="tns:deposite" />
  </wsdl:message>
  <wsdl:message name="IService_deposite_OutputMessage">
    <wsdl:part name="parameters" element="tns:depositeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getCrime_InputMessage">
    <wsdl:part name="parameters" element="tns:getCrime" />
  </wsdl:message>
  <wsdl:message name="IService_getCrime_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCrimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getState_InputMessage">
    <wsdl:part name="parameters" element="tns:getState" />
  </wsdl:message>
  <wsdl:message name="IService_getState_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getCloseStores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getCloseStores" message="tns:IService_getCloseStores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getCloseStoresResponse" message="tns:IService_getCloseStores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCoordinates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getCoordinates" message="tns:IService_getCoordinates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getCoordinatesResponse" message="tns:IService_getCoordinates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getBalance" message="tns:IService_getBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getBalanceResponse" message="tns:IService_getBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deposite">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/deposite" message="tns:IService_deposite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/depositeResponse" message="tns:IService_deposite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCrime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getCrime" message="tns:IService_getCrime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getCrimeResponse" message="tns:IService_getCrime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getState" message="tns:IService_getState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getStateResponse" message="tns:IService_getState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCloseStores">
      <soap:operation soapAction="http://tempuri.org/IService/getCloseStores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCoordinates">
      <soap:operation soapAction="http://tempuri.org/IService/getCoordinates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="http://tempuri.org/IService/getBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deposite">
      <soap:operation soapAction="http://tempuri.org/IService/deposite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCrime">
      <soap:operation soapAction="http://tempuri.org/IService/getCrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getState">
      <soap:operation soapAction="http://tempuri.org/IService/getState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://webstrar47.fulton.asu.edu/Page4/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>