Assignment_5_Final/Assignment_5_Final/Assignment_5_Final/Assignment_5_Final/Connected Services/MMServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page1/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page1/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page1/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_foodPlace_InputMessage">
    <wsdl:part name="parameters" element="tns:foodPlace" />
  </wsdl:message>
  <wsdl:message name="IService1_foodPlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:foodPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Number2Word_InputMessage">
    <wsdl:part name="parameters" element="tns:Number2Word" />
  </wsdl:message>
  <wsdl:message name="IService1_Number2Word_OutputMessage">
    <wsdl:part name="parameters" element="tns:Number2WordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_signUP_InputMessage">
    <wsdl:part name="parameters" element="tns:signUP" />
  </wsdl:message>
  <wsdl:message name="IService1_signUP_OutputMessage">
    <wsdl:part name="parameters" element="tns:signUPResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_logIn_InputMessage">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="IService1_logIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_buySoda_InputMessage">
    <wsdl:part name="parameters" element="tns:buySoda" />
  </wsdl:message>
  <wsdl:message name="IService1_buySoda_OutputMessage">
    <wsdl:part name="parameters" element="tns:buySodaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_write2XML_InputMessage">
    <wsdl:part name="parameters" element="tns:write2XML" />
  </wsdl:message>
  <wsdl:message name="IService1_write2XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:write2XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchXML_InputMessage">
    <wsdl:part name="parameters" element="tns:searchXML" />
  </wsdl:message>
  <wsdl:message name="IService1_searchXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Decryption_InputMessage">
    <wsdl:part name="parameters" element="tns:Decryption" />
  </wsdl:message>
  <wsdl:message name="IService1_Decryption_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Encryption_InputMessage">
    <wsdl:part name="parameters" element="tns:Encryption" />
  </wsdl:message>
  <wsdl:message name="IService1_Encryption_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="foodPlace">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/foodPlace" message="tns:IService1_foodPlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/foodPlaceResponse" message="tns:IService1_foodPlace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Number2Word">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Number2Word" message="tns:IService1_Number2Word_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Number2WordResponse" message="tns:IService1_Number2Word_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="signUP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/signUP" message="tns:IService1_signUP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/signUPResponse" message="tns:IService1_signUP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logIn" message="tns:IService1_logIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logInResponse" message="tns:IService1_logIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buySoda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/buySoda" message="tns:IService1_buySoda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/buySodaResponse" message="tns:IService1_buySoda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="write2XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/write2XML" message="tns:IService1_write2XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/write2XMLResponse" message="tns:IService1_write2XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchXML" message="tns:IService1_searchXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchXMLResponse" message="tns:IService1_searchXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decryption">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Decryption" message="tns:IService1_Decryption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DecryptionResponse" message="tns:IService1_Decryption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Encryption">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Encryption" message="tns:IService1_Encryption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EncryptionResponse" message="tns:IService1_Encryption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteUser" message="tns:IService1_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteUserResponse" message="tns:IService1_deleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="foodPlace">
      <soap:operation soapAction="http://tempuri.org/IService1/foodPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Number2Word">
      <soap:operation soapAction="http://tempuri.org/IService1/Number2Word" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signUP">
      <soap:operation soapAction="http://tempuri.org/IService1/signUP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <soap:operation soapAction="http://tempuri.org/IService1/logIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buySoda">
      <soap:operation soapAction="http://tempuri.org/IService1/buySoda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="write2XML">
      <soap:operation soapAction="http://tempuri.org/IService1/write2XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchXML">
      <soap:operation soapAction="http://tempuri.org/IService1/searchXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decryption">
      <soap:operation soapAction="http://tempuri.org/IService1/Decryption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encryption">
      <soap:operation soapAction="http://tempuri.org/IService1/Encryption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar47.fulton.asu.edu/Page1/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>